* {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
html, body {
    height: 100%;
}

body {
    margin: 0;
    background: url('../assets/SC.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family:'lobster', cursive;
    
}
header{
    margin: 30px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px whitesmoke;
}
img{
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
}
h1{
    font-family: 'lobster', cursive;
    font-size: 35px;
}
h1:hover{
    font-family: 'Gamja Flower', cursive;
    color: red;
}
ul{
    list-style-type: none;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5); 
    overflow:hidden;
}
li{
    display: inline;
    font-size: larger;
    padding:0px 5px;
    font-family: 'Gamja Flower', cursive;
}
a{
    color: brown;
    text-align: center;
    margin: 0 5px;
    text-decoration: none;
}
a:hover{
    font-size: x-large;
    color:black;
    text-shadow: 2px 2px 4px blueviolet;
    font-family: 'Lobster Two', cursive;
}
article{
    max-width: 500px;
    font-family: lobster;
    font-size: 20px;
    color: black;
    text-align: justify;
    padding: 20px;
    margin: 0 auto;
}
button{
    font-family: 'lobster', cursive;
    font-size: 20px;
    color: black;
}
button:hover{
    color: rgba(255, 0, 119, 0.925);
    font-size: 16px;
}
i{
    transition: none;
}
footer{
    background-size: cover;
    text-align: center;
}

@media screen and (max-width: 500px){
    img {
        padding:  20px 0px;
        max-width: 100%;
        max-height: 100%;
    }
    h1 {
        margin:   20px 0px;

    }
    ul {
        background: none;
    }

    li {
        background: rgba(0, 0, 0, 0.5); 
        display: block;
        font-size: x-large;
        padding: 5px 0px;
        margin: 5px;
        
    }
}