html, body {
    height: 100%;
}

body {
    background: url('../assets/SC.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: cursive;
    
}
header{
    margin: 30px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px whitesmoke;
}
img{
    margin-top: 10px;
}
h1{
    font-family: serif;
    font-size: 35px;
}
h1:hover{
    font-family: cursive;
    color: red;
}
ul{
    list-style-type: none;
    padding: 30px;
    background-color: transparent; 
    overflow:hidden;
}
li{
    display: inline;
    font-size: 20px;
    padding:0px 5px;
}
a{
    color: brown;
    text-align: center;
    margin: 0 5px;
}
a:hover{
    font-size: large;
    color:black;
    text-shadow: 2px 2px 4px blueviolet;
}
article{
    max-width: 500px;
    font-family: cursive;
    font-size: 20px;
    color: black;
}
button{
    font-family: fantasy;
    font-size: 20px;
    color: black;
}